<!--Header-->
<%- include partials/header.ejs %>

<!--Main nav-->
<%- include partials/main_nav.ejs %>


<!--Content-->
   <main class="container">
   <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </main>


<!--Bottom nav-->
<%- include partials/bottom_nav.ejs %>

<!-- Footer -->
<%- include partials/footer.ejs %>



