<%- include partials/header.ejs %>

<%- include partials/editSideBar.ejs %>

    <div class='container' style="padding-left: 200px">
        <div class='jumbotron'>
            <h1 class="display-4"> <%= title %>: <%= locSurv.Name %> </h1>
        </div>
        <form>
            <% for (let count = 0; count < locSurv.quearray.length; count++) { %>
                <div class=question>
                <table style="text-align:center; margin:15px">
                    <tr>
                        <td><img src="/Assets/images/Pic1(1)-slim.jpg" alt="purple" height=70% width=90% styles="display:block margin:auto "> </td>
                    </tr>
                    <tr>                        
                        <td><%= locSurv.quearray[count].question %>?</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control"
                            id="questionTextField"
                            placeholder="Enter Respose"
                            name="question" required>
                        </td>
                    </tr>
                    

                    
                </table>
                <hr>
            </div>
            <% } %>
        </form>
            
        </div>
    
        
       
 

  <br> <br>
  <br>
  <br>
  
  <%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>