<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
   
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <h3>This is what I got for Leshawns part of the project</h3>
    <hr>

    <img src="Assets/images/leshawn1.jpg" alt="total bs">
    <img src="Assets/images/leshawn2.jpg" alt="total bs">
    <img src="Assets/images/leshawn3.jpg" alt="total bs">
    <img src="Assets/images/leshawn4.jpg" alt="total bs">
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>